<%- include('partials/header') %>


<div class="centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 id="home-page-h1" class="display-3">Track Your TV Shows</h1>
    <p class="lead">Don't forget where you stopped in your favorite series!</p>
    <hr>
    <a id="home-page-light-btn" class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a id="home-page-dark-btn" class="btn btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>