<%- include('partials/header') %>
<div class="centered">
  <div class="form-signin w-100 m-auto">
    <form action="/register" method="POST">
      <h1 id="register-page-h1" class="display-3">Please sign up</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="username">
        <label for="floatingInput"><%= verifyEmail %></label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="verifyPassword" name="verifyPassword">
        <label for="floatingPassword"><%= verifyPassword %></label>
      </div>

      <button id="register-btn" class="btn w-100 py-2" type="submit">Sign up</button>
    </form>
  </div>
</div>
<%- include('partials/header') %>
